*{
    margin: 0px;
}

#header{
    background-color: #9baad2;
    background: linear-gradient(rgba(155,170,210,1) 0%, rgba(155,170,210,1) 50%, rgba(255,255,255,1) 50%);
    width: 100%;
    height: 100px;
}

.logo{
    margin-left: 30px;
}


#menu{
    display: flex;
    margin: -20px;
}

ul{ 
    margin: 0px;
    padding: 0;
    list-style: none;
}

li{
    margin: 0px 10px;
}

#menu ul li {
    position: relative;
    }

#menu li{
    position:relative;
}

#menu li a{
    background-color: white;
    color:#9BAAD2; 
    text-decoration:none; 
    padding:10px 20px; 
    border-radius: 50px;
    display:block;
    font-size: 17px;
}

#menu li a:hover{
    background-color:#9BAAD2;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
    -webkit-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
    text-shadow:0px 0px 5px rgb(133, 132, 132);
    border-radius: 50px;
}

#menu li  ul{
    position:absolute;
    top:30px;
    left:0;
    display:none;
}

#menu li:hover ul, .menu li.over ul{
    display:block;
}

#menu li ul li{
    background-color: white;
    display:block;
    width:150px;
    border-radius: 50px;
    }

    footer {
    background-color:#9BAAD2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 40px;
    }
    
    #rodape{
        padding: 0px 40px;
    }
    
    .titulo-footer{
        color: #494384;
        font-size: 19px;
    }
    
    .submenu-footer li{
        color: white;
        list-style:none
    }
    
    .submenu-footer li:hover{
        background-color:#9BAAD2;
        color:#fff;
        -moz-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
        -webkit-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
        text-shadow:0px 0px 5px rgb(133, 132, 132);
    }


    @media (max-width: 764px) {

        #header{
            background: linear-gradient(rgba(155,170,210,1) 0%, rgba(155,170,210,1) 50%, rgba(255,255,255,1) 50%);
            width: 100%;
            height: 200px;
        }

        #menu li ul {
            position: absolute;
            top: 100%;
            left: -100%;
            display: none;
    }

    footer{
        padding: 70px 0px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* position: relative; */
}

.boxcima {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.boxcima1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;

}

.boxcima2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.imagemmedico {
    width: 20vw;
    height: auto;
    justify-self: flex-start;
}

.nomemedico {
    font-size: 1.8vw;
    text-align: center;
    color: #37335B;
    background-color: white;
    padding: 0.3vw 4vw;
    border-radius: 50px;
    box-shadow: -1px 1px 2px gray;
    z-index: 1;
    position: absolute;
    margin-bottom: -1vw;
}

.especialidade {
    color: #37335B;
    font-size: 1.5vw;
    text-shadow: 1px 1px 5px white;
    margin: 1vw 2vw;
}

.avaliacao {
    font-size: 1.3vw;
}

.avaliacao:hover {
    font-size: 1.5vw;
    transition-duration: 1s;
}

.estrelas {
    color: transparent;
    text-shadow: 
    0px 0px 0 #37335B,
    0px 0px 4px white; 
    margin: 1vw 0vw 1vw 2vw;

}

.estrelas:hover {
    color: transparent;
    text-shadow: 
    0px 0px 0 #ffd000;
}

.estrelafim {
    color: transparent;
    text-shadow:
      0px 0px 0px white, 
      -1px -1px 3px #c5cce0, 
      -1px 1px 3px #c5cce0, 
      1px 1px 3px #c5cce0,
      1px -1px 3px #c5cce0;
      margin: 1vw 2vw 1vw 0vw
}

.boxbaixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.descricao {
    display: flex;
    background-color: white;
    border: 1.5vw solid #9BAAD2;
    border-radius: 30px;
    width: 80%;
    text-align: justify;
    padding: 3vw;
    color: #37335B;
    font-size: 1.5vw;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    margin-bottom: -1.5vw;
}

.icone:hover {
    width: 5vw;
    height: 5vw;
    align-self: center;
    transition-duration: 1s;
}