*{
    margin: 0px;
}

#header{
    background-color: #9baad2;
    background: linear-gradient(rgba(155,170,210,1) 0%, rgba(155,170,210,1) 50%, rgba(255,255,255,1) 50%);
    width: 100%;
    height: 100px;
}

.logo{
    margin-left: 30px;
}


#menu{
    display: flex;
    margin: -20px;
}

ul{ 
    margin: 0px;
    padding: 0;
    list-style: none;
}

li{
    margin: 0px 10px;
}

#menu ul li {
    position: relative;
    }

#menu li{
    position:relative;
}

#menu li a{
    background-color: white;
    color:#9BAAD2; 
    text-decoration:none; 
    padding:10px 20px; 
    border-radius: 50px;
    display:block;
    font-size: 17px;
}

#menu li a:hover{
    background-color:#9BAAD2;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
    -webkit-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
    text-shadow:0px 0px 5px rgb(133, 132, 132);
    border-radius: 50px;
}

#menu li  ul{
    position:absolute;
    top:30px;
    left:0;
    display:none;
}

#menu li:hover ul, .menu li.over ul{
    display:block;
}

#menu li ul li{
    background-color: white;
    display:block;
    width:150px;
    border-radius: 50px;
    }

footer {
    background-color:#9BAAD2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 40px;
    }
    
#rodape{
        padding: 0px 40px;
    }
    
.titulo-footer{
        color: #494384;
        font-size: 19px;
    }
    
.submenu-footer li{
        color: white;
        list-style:none
    }
    
.submenu-footer li:hover{
        background-color:#9BAAD2;
        color:#fff;
        -moz-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
        -webkit-box-shadow:0 3px 10px 0 rgb(133, 132, 132);
        text-shadow:0px 0px 5px rgb(133, 132, 132);
    }


@media (max-width: 764px) {

        #header{
            background: linear-gradient(rgba(155,170,210,1) 0%, rgba(155,170,210,1) 50%, rgba(255,255,255,1) 50%);
            width: 100%;
            height: 200px;
        }

        #menu li ul {
            position: absolute;
            top: 100%;
            left: -100%;
            display: none;
        }

        footer{
            padding: 70px 0px;
        }
    }

p.titulo {
    font-size: 40px;
    text-align: center;
    color: #615AA1;
    position: relative;
    margin: 40px 0;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.box {
    background-color: #9BAAD2;
    border-radius: 70px;
    width: 1000px;
    height: 250px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 10px 0px 10px 45px;
}

.imagemmedico {
    width: 200px;
    height: auto;
    position: absolute;
    left: -90px;
    z-index: 6;
}

.imagemmedico:hover {
    width: 220px;
    height: auto;
    transition-duration: 1s;
}

.esquerdabox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
    padding: 10px 0;
}

.especialidade {
    color: #37335B;
    font-size: 22px;
    text-shadow: 1px 1px 5px white;
    position: relative;
}

.nomemedico {
    align-self: flex-start;
    display: flex;
    align-items:center;
    justify-content: end;
    width: 80%;
    height: 20%;
    padding-right: 10%;
    color: #37335B;
    font-size: 25px;
    background-color: white;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    margin: 10px 0;
}

.nomemedico:hover {
    transition-duration: 1s;
    width: 85%;
    height: 25%;
    font-size: 28px;
}

.avaliacao {
    font-size: 19px;
}

.avaliacao:hover {
    font-size: 22px;
    transition-duration: 1s;
}

.estrelas {
    color: transparent;
    text-shadow: 
    0px 0px 0 #37335B,
    0px 0px 4px white; 

}

.estrelas:hover {
    color: transparent;
    text-shadow: 
    0px 0px 0 #ffd000;
}

.estrelafim {
    color: transparent;
    text-shadow:
      0px 0px 0px white, 
      -1px -1px 1px #9BAAD2, 
      -1px 1px 1px #9BAAD2, 
      1px 1px 1px #9BAAD2, 
      1px -1px 1px #9BAAD2;
}

.direitabox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
    height: 100%;
    width: 55%;
    
}

.descricao {
    position: absolute;
    display: flex;
    align-self: flex-start;
    align-items:center;
    justify-content: center;
    background-color: white;
    border: 5px solid white;
    border-radius: 70px;
    height: 80%;
    text-align: justify;
    padding: 40px;
    color: #37335B;
    font-size: 15px;
    margin: 25px 25px 25px 0;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 8px;
}

.icone:hover {
    width: 45px;
    height: 45px;
    align-self: center;
    transition-duration: 1s;
}

@media (max-width: 1155px) {

    p.titulo {
        font-size: 30px;
    }
    
    
    .box {
        width: 90vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: 100px 20px 20px 20px;
        padding-top: 80px;
    }
    
    .imagemmedico {
        width: 180px;
        left: unset;
        justify-self: center;
        top: -80px;
    }
    
    .imagemmedico:hover {
        width: 200px;
    }
    
    .esquerdabox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 50%;
        padding: 10px 0;
        margin-top: 30px;
    }
    
    .especialidade {
        color: #37335B;
        font-size: 22px;
        text-shadow: 1px 1px 5px white;

    }
    
    .nomemedico {
        align-self: center;
        display: flex;
        align-items:center;
        justify-content: center;
        width: max-content;
        height: 35px;
        padding: 20px;
        color: #37335B;
        font-size: 25px;
        background-color: white;
        border-radius: 25px ;
        margin: 5px;
    }
    
    .nomemedico:hover {
        transition-duration: 1s;
        font-size: 28px;
        width: max-content;
        height: 38px;
    }
    
    .avaliacao {
        font-size: 19px;
    }
    
    .avaliacao:hover {
        font-size: 22px;
        transition-duration: 1s;
    }
    
    .estrelas {
        color: transparent;
        text-shadow: 
        0px 0px 0 #37335B,
        0px 0px 4px white; 
    
    }
    
    .estrelas:hover {
        color: transparent;
        text-shadow: 
        0px 0px 0 #ffd000;
    }
    
    .estrelafim {
        color: transparent;
        text-shadow:
          0px 0px 0px white, 
          -1px -1px 1px #9BAAD2, 
          -1px 1px 1px #9BAAD2, 
          1px 1px 1px #9BAAD2, 
          1px -1px 1px #9BAAD2;
    }
    
    .direitabox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0%;
    }
    
    .descricao {
        position: relative;
        align-self: center;
        width: 80vw;
        height: auto;
        margin: 25px 25px 25px 25px;
    }
    
    .icones{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 8px;
    }
    
    .icone:hover {
        width: 45px;
        height: 45px;
        align-self: center;
        transition-duration: 1s;
    }
}